@use "color" as *;
@use "bootstrap";
@use "fonts";

html {
    min-height: calc(100vh);
    max-width: calc(100vw);
}

body {
    font-family: 'Anakotmai', serif !important;
    background-color: $light-gray;
    color: $black;
    font-size: 14px;
}

header {
    line-height: 1.5;
    max-height: 100vh;
}

p {
    margin-bottom: 0px;
}

.fs-10 { font-size: 10px; }

.text-gray { color: $gray; }

.bg-lightgray { background-color: $light-gray; }

// Custom scroll
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
}